<!-- <footer class="bg-light">
    <div class="d-flex justify-content-center align-items-center">
        <p class="mx-auto">© 2021 Copyright</p>
        <button class="btn btn-outline-primary btn-sm mx-auto" style="margin-top: -3px;">
            <a class="text-dark" href="https://www.alian.mx/" target="_blank">alian.mx</a>
        </button>
        <p class="fs-6 mx-auto">Designed by: Sistemas Alian</p>
    </div>
</footer> -->

<!-- Footer -->
<footer class="text-center bg-light">
    <div class="container">
        <div class="row d-flex align-justify-center text-center">
            <div class="col-sm-12 col-md-4 col-lg-4 py-4">
                <p>© 2021 Copyright: Alian Plastics S.A de C.V.</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 py-4">
                <button class="btn btn-outline-primary btn-sm">
                    <a class="text-dark" href="https://www.alian.mx/" target="_blank">alian.mx</a>
                </button>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 py-4">
                <p>Designed By: Sistemas Alian</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->