a{
    text-decoration: none;
}
p{
    margin: 0%;
}
@media (max-width: 360px) {
    .py-4{
        padding-top: 6px !important;
        padding-bottom: 6px !important;
    }
}

@media (max-width: 768px){
    .py-4{
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
}