<app-navbar></app-navbar>
<div class="container">
    <div class="card text-center my-3">
        <div class="card-header py-2 fondo">
            <h2 class="text-white">Bienvenido {{ user.nombre }} {{ user.apellidoP}} </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 mb-2">
            <div class="card">
                <img src="../../../assets/gif/Add-course.gif" class="card-img-top" alt="Agregar curso">
                <div class="card-body">
                    <button class="btn btn-block fondo" [routerLink]="['/user/registerCourse']">Agregar curso</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 mb-2">
            <div class="card">
                <img src="../../../assets/gif/Course.gif" class="card-img-top" alt="Mis cursos">
                <div class="card-body">
                    <button class="btn btn-block fondo" [routerLink]="['/user/curso']">Mis cursos</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 mb-3">
            <div class="card">
                <img src="../../../assets/gif/Comment.gif" class="card-img-top" alt="Comentarios">
                <div class="card-body">
                    <button class="btn btn-block fondo" [routerLink]="['/user/contacto']">Escríbenos</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
          <table class="table table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl table-bordered">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Fecha</th>
                <th scope="col">Duración</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of getAll">
                <td class="fs-6">{{item.nombre}}</td>
                <td class="fs-6">{{item.tipo}}</td>
                <td class="fs-6">{{item.proveedor}}</td>
                <td class="fs-6">{{item.fecha}}</td>
                <td class="fs-6">{{item.duracion}}</td>
              </tr>
            </tbody>
          </table>
    </div> -->
</div>
<app-footer></app-footer>