<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container py-1">
        <a class="navbar-brand" routerLink="/inicio">
            <img src="../../../../assets/img/logo_alian.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/inicio">Inicio
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Mis cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inicio">Registrar curso</a>
                </li>
                <li  class="nav-item">
                    <!-- *ngIf="user.type !== 'Usuario'" -->
                    <a class="nav-link" routerLink="/inicio">Dentro de home</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-danger" (click)="singOut()">Cerrar sesión</button>
                <!-- (click)="signOut()" -->
            </div>
        </div>
    </div>
</nav>