/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 50px !important;
}
.fondo{
    background-color: #00B2E0 !important;
    color: white;
}
.text-color{
    color: #6fd548;
    font-weight: bold;
}
footer {
    /* background-color: black; */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 40px; */
}

@media screen and (max-width: 768px) {
    body{
        margin-bottom: 120px !important;
        box-sizing: border-box;
    }
    footer {
        position: absolute;
        bottom: auto;
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 769px) {
    body{
        margin-bottom: 78px !important;
        box-sizing: border-box;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }
}
/* @media screen and (min-width: 342px) and (max-width: 541px)  {
    body{
        margin-bottom: 220px !important;
    }
}

@media screen and (min-width: 525px){
    body{
        margin-bottom: 135px !important;
    }
} */